#container {
    display: inline-block;
    padding-top: 78px;
}

#message {
    margin-top: -35px;
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
}

.fixed-header, .fixed-columns{
    position: fixed;
    table-layout: fixed;
}

.fixed-header table {
    position:relative;
    left:0;
}

.fixed-header .cell-spacer {
    height: 1px;
}

.fixed-header[class~=shadowed]{
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.3);
}

.fixed-columns[class~=shadowed]{
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.5);
}

.header-left-cols[class~=shadowed]{
   box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.2);
}

.tick {
    position:absolute;
    bottom:1px;
    left:0;
    background-color: black;
    width:1px;
    height:2px;
    margin-top:-8px;
}

#title {
    position:fixed
}